<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limingyilr.hongxin" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.AdminActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.WorkerActivity"
            android:label="可接订单" />
        <activity
            android:name=".ui.WaterUncomActivity"
            android:label="未完成订单" />
        <activity
            android:name=".ui.WorkerInfoActivity"
            android:label="信息查询" />
        <activity
            android:name=".ui.AdminWaterActivity"
            android:label="送水订单" />
        <activity
            android:name=".ui.AdminTicketActivity"
            android:label="水票信息" />
        <activity
            android:name=".ui.AdminInfoActivity"
            android:label="管理信息" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>
